<article
        class="border-b-2 border-neutral-800 sortie {{ sortie.etat | lower }} relative overflow-hidden {{ app.user in sortie.participants ? 'inscrit' : '' }}">
    <div class="sortie__container grid grid-cols-12 rounded-xl">
        <div class="col-span-9 p-3 relative border-e-2 border-dashed">
            <div class="flex items-center font-medium">
                <span class="text-base/4 opacity-80">
                    <small>
                        {{ sortie.dateHeureDebut | date('F d Y • g a') }}
                    </small>
                </span>
                <div class="flex items-start gap-2 ms-auto">
                    {% if sortie.etat != "ANNULEE" and sortie.etat != "PASSEE" %}
                        <div class="flex ms-auto items-center gap-2 text-neutral-200">
                            {% if is_granted('SORTIE_EDIT', sortie) %}
                                <a href="{{ path('sortie_update', {'id': sortie.id}) }}"
                                   class="bg-neutral-800 p-1.5 rounded-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                         class="size-3">
                                        <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z"></path>
                                    </svg>
                                </a>
                            {% endif %}
                            {% if is_granted('SORTIE_CANCEL', sortie) and sortie.etat != "ANNULEE" %}
                                <div class="cursor-pointer bg-neutral-800 p-1 cancel_btn rounded-full toggle__collapse" data-target="sortie__cancel" data-url="{{ path('sortie_cancel') }}" data-sortie="{{ sortie.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                         class="size-4">
                                        <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"></path>
                                    </svg>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <h1 class="font-medium text-xl/6">{{ sortie.nom }}</h1>
            <div class="w-full flex flex-wrap text-xs sortie-info *:me-1">
                <div class="flex gap-1 items-center opacity-80">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z"></path>
                    </svg>
                    <span class="mt-1">{{ sortie.lieu }}, {{ sortie.lieu.ville }}</span>
                </div>
                <div class="flex gap-1 items-center opacity-90">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                    </svg>
                    <span class="mt-1">{{ sortie.duree }} heure(s)</span>
                </div>
            </div>
            <div class="flex text-sm mt-3 w-full">
                <div class="sortie__users flex items-center w-full font-semibold">
                    <a href="{{ path('app_profil_details', { 'id' : sortie.organisateur.id }) }}">
                        <div class="me-1 flex-none rounded-full">
                            <img src="{{ asset("/img/user/" ~ sortie.organisateur.imageFileName) }}" alt="placeholder"
                                 class="participant rounded-full border-2 w-10 h-10">
                        </div>
                    </a>
                    <div class="flex items-center rounded-full h-full">
                        <div class="flex *:me-[-18px] relative">
                            {% for participant in sortie.participants[:3] %}
                                <div class="rounded-full">
                                    <img src="{{ asset('/img/user/' ~ participant.imageFileName) }}"
                                         alt="placeholder"
                                         class="participant rounded-full border-2 w-10 h-10">
                                </div>
                            {% endfor %}
                            {% if (sortie.participants | length) > 3 %}
                                <div class="rounded-full w-10 h-10 bg-neutral-900 participant border-2 flex items-center justify-center">
                                    <p class="participant text-xs font-medium mt-1 text-neutral-800">
                                        +{{ (sortie.participants | length) - 3 }}</p>
                                </div>
                            {% endif %}
                        </div>

                        {% if sortie.etat == "INSC_OUVERTE" %}
                            {% if app.user == sortie.organisateur %}
                                <div class="sortie__btn  h-full flex-none items-center pe-5 ps-7 py-3 pb-1.5 rounded-e-full">
                                    Inscription ouverte
                                </div>
                            {% else %}
                                {% if is_granted('SORTIE_UNSUBSCRIBE', sortie) %}
                                    <div class="sub_btn sortie__btn h-full flex-none items-center pe-5 ps-7 py-3 pb-1.5 rounded-e-full cursor-pointer"
                                    data-url="{{ path('sortie_unsub', {id: sortie.id}) }}">
                                        Se désinscrire
                                    </div>
                                {% elseif is_granted('SORTIE_SUBSCRIBE', sortie) %}
                                    <div class="sub_btn sortie__btn h-full flex-none items-center pe-5 ps-7 py-3 pb-1.5 rounded-e-full cursor-pointer"
                                         data-url="{{ path('sortie_sub', {id: sortie.id}) }}">
                                        S'inscrire
                                    </div>
                                {% endif %}
                            {% endif %}

                        {% elseif  sortie.etat == "INSC_CLOTUREE" %}
                            {% if is_granted('SORTIE_UNSUBSCRIBE', sortie) %}
                                <div class="sub_btn flex-none pe-5 ms-7 py-1.5 pb-0.5 rounded-full cursor-pointer"
                                     data-url="{{ path('sortie_unsub', {id: sortie.id}) }}">
                                    Se désinscrire
                                </div>
                            {% else %}
                                <div class="sortie__btn h-full flex-none items-center pe-5 ps-7 py-3 pb-1.5 rounded-e-full ">
                                    Clôturée
                                </div>
                            {% endif %}
                        {% elseif  sortie.etat == "ANNULEE" %}
                            <div class="sortie__btn h-full flex-none items-center pe-5 ps-7 py-3 pb-1.5 rounded-e-full ">
                                Annulée
                            </div>
                        {% elseif  sortie.etat == "ACTIVITE_EN_COURS" %}
                            <div class="sortie__btn h-full flex-none items-center pe-5 ps-7 py-3 pb-1.5 rounded-e-full ">
                                En cours
                            </div>
                        {% elseif  sortie.etat == "PASSEE" %}
                            <div class="sortie__btn h-full flex-none items-center pe-5 ps-7 py-3 pb-1.5 rounded-e-full ">
                                Passée
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-3 p-3 flex flex-col relative rounded-xl">
            <div class="absolute pointer-events-none top-0 left-0 h-full w-full flex flex-col">
                 <div class="aspect-square w-5 bg-neutral-800 rounded-full -translate-x-2.5 -translate-y-2.5"></div>
                 <div class="aspect-square w-5 bg-neutral-800 rounded-full -translate-x-2.5 translate-y-2.5 mt-auto"></div>
            </div>
            <div class="flex h-9 w-full mt-auto text-sm">
                <a href="{{ path('sortie_detail', {'id' : sortie.id}) }}" title="{{ sortie.nom }}" data-turbo="true"
                   class="rounded-full bg-neutral-800 text-neutral-50 flex items-center justify-center w-full pt-1">
                    Details
                </a>
            </div>
        </div>
    </div>
</article>