{% extends 'base.html.twig' %}


{% block title %}
    {% if app.user.id == user.id %}
        Mon Profil
    {% else %}
        Profil de {{ user.pseudo }}
    {% endif %}
{% endblock %}



{% block body %}
    <section class="overflow-hidden">
        <div class="w-full relative overflow-hidden">
            <img src="{{ asset('/img/campus/campus3.jpg') }}" alt="Campus placeholder"
                 class="aspect-6/3 object-cover contrast-80">
            <div class="absolute top-0 left-0 p-3 bg-neutral-800/30 h-full w-full"></div>
        </div>
    </section>
    <section class="fixed bottom-0 h-[80vh] w-full mt-[-20px] z-2">
        <div class="absolute top-0 -translate-y-10 translate-x-2">
            <img class="shrink-0 size-20 rounded-full mx-auto border-[#f1edeb] border-3"
                 src="{{ asset('/img/user/' ~ user.imageFileName) }}"
                 alt="Avatar">
        </div>
        <div class="rounded-tr-xl bg-[#f1edeb] h-full flex flex-col">
            <div class="pt-12 p-3">

                <h1 class="font-semibold text-3xl text-neutral-800">{{ user }}</h1>
                <p class="text-sm font-medium opacity-70 mb-5">{{ user.prenom }} {{ user.nom }}</p>
                <div class="w-full flex flex-col mb-5 text-sm gap-1 opacity-70 sortie-info">
                    <div class="flex gap-1 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"></path>
                        </svg>
                        <span class="mt-1">Campus {{ user.campus }} </span>
                    </div>
                    <div class=" flex gap-1 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                             class="size-5">
                            <path fill-rule="evenodd"
                                  d="M5.404 14.596A6.5 6.5 0 1 1 16.5 10a1.25 1.25 0 0 1-2.5 0 4 4 0 1 0-.571 2.06A2.75 2.75 0 0 0 18 10a8 8 0 1 0-2.343 5.657.75.75 0 0 0-1.06-1.06 6.5 6.5 0 0 1-9.193 0ZM10 7.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span class="mt-1">{{ user.email }}</span>
                    </div>
                    <div class="flex gap-1 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0 6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z"></path>
                        </svg>
                        <span class="mt-1">{{ user.telephone }}</span>
                    </div>

                </div>
            </div>
            {% if app.user.id == user.id %}
                <div class="border-t-2 mt-auto border-dashed bg-[#D1EB99] text-neutral-800  w-full">
                    <div class="absolute w-full flex">
                        <div class="aspect-square w-6 bg-neutral-800 rounded-full -translate-x-3 -translate-y-3.5"></div>
                        <div class="aspect-square w-6 bg-neutral-800 rounded-full ms-auto translate-x-3 -translate-y-3.5"></div>
                    </div>
                    <a href="{{ path('app_profil_update', {'id': app.user.id }) }}">
                        <div class="font-bold py-7 uppercase text-2xl text-center sortie__btn">
                            <div class="sub_btn flex-none pe-5 ms-7 py-1.5 pb-0.5 rounded-full cursor-pointer">
                                Modifier le profil
                            </div>
                        </div>
                    </a>
                    <div class="border-t-2 mt-auto border-dashed bg-[#D1EB99] text-neutral-800  w-full">
                        <div class="absolute w-full flex">
                            <div class="aspect-square w-6 bg-neutral-800 rounded-full -translate-x-3 -translate-y-3.5"></div>
                            <div class="aspect-square w-6 bg-neutral-800 rounded-full ms-auto translate-x-3 -translate-y-3.5"></div>
                        </div>
                        <a href="{{ path('app_profil_updatePwd', {'id': app.user.id }) }}">
                            <div class="font-bold py-7 uppercase text-2xl text-center sortie__btn">
                                <div class="sub_btn flex-none pe-5 ms-7 py-1.5 pb-0.5 rounded-full cursor-pointer">
                                    Modifier le mot de passe
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="border-t-2 mt-auto border-dashed bg-[#D1EB99] text-neutral-800  w-full">
                    <div class="absolute w-full flex">
                        <div class="aspect-square w-6 bg-neutral-800 rounded-full -translate-x-3 -translate-y-3.5"></div>
                        <div class="aspect-square w-6 bg-neutral-800 rounded-full ms-auto translate-x-3 -translate-y-3.5"></div>
                    </div>
                    <a href="javascript:void(0);" onclick="window.history.back()">
                        <div class="font-bold py-7 uppercase text-2xl text-center sortie__btn">
                            <div class="sub_btn flex-none pe-5 ms-7 py-1.5 pb-0.5 rounded-full cursor-pointer">
                                Retour
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
