{% extends 'base.html.twig' %}


{% block body %}
    <main class="w-full">
        <section>
            <div class="p-3 pt-8 bg-[#f1edeb] rounded-xl text-neutral-800 shadow-xl">

                {% form_theme sortieFormCreation 'views/form/form-theme-sortie.html.twig' %}
                <div class="w-full text-sm">

                {{ form_start(sortieFormCreation) }}
                {{ form_row(sortieFormCreation.nom) }}
                {{ form_row(sortieFormCreation.dateHeureDebut) }}
                {{ form_row(sortieFormCreation.duree) }}
                {{ form_row(sortieFormCreation.dateLimiteInscription) }}
                {{ form_row(sortieFormCreation.nbInscriptionMax) }}
                {{ form_row(sortieFormCreation.infosSortie) }}

                {{ form_row(sortieFormCreation.ville) }}

                <div class="sortie-lieu">
                {{ form_row(sortieFormCreation.lieu) }}
                    <button id="addLieuButton" type="button">+</button>
                    <section class="lieu_details">
                        //TODO renvoyer dans l'appel API la rue, code postal, latitude, longitude ?
                        <p>Rue : </p>
                        <p>Code Postal : </p>
                    </section>
                </div>

                {{ form_row(sortieFormCreation.campus) }}
                {{ form_widget(sortieFormCreation.submit) }}
                {{ form_end(sortieFormCreation) }}

                </div>
            </div>
        </section>
    </main>

    <div class="modal-lieu">
        <div class="modal-content">
            <h2>Nouveau lieu</h2>
                {{ form_start(lieuFormCreation) }}
                {{ form_row(lieuFormCreation.nom) }}
                {{ form_row(lieuFormCreation.rue) }}
                {{ form_row(lieuFormCreation.latitude) }}
                {{ form_row(lieuFormCreation.longitude) }}
                {{ form_row(lieuFormCreation.ville) }}
                {{ form_widget(lieuFormCreation.submit) }}
                {{ form_end(lieuFormCreation) }}
        </div>
    </div>

    {% block extraJs %}
        <script>

////////////// CONSTANTES

            const selectVille = document.getElementById('sortie_ville');
            const selectLieu = document.getElementById('sortie_lieu');
            const lieuModal = document.querySelector('.modal-lieu');
            const lieuForm = document.querySelector('#lieu_form');
            const buttonAddLieu = document.querySelector('#addLieuButton');


  //////////// FONCTIONS

            // Appel API pour renouvellement du select lieux
            function refreshLieux(villeId) {
                const apiBaseUrl = '{{ path('sortie_list') }}';
                fetch(apiBaseUrl + 'api/lieux/' + villeId)
                    .then(response => response.json())
                    .then(data => {
                        // Affichage du nom du lieu dans le select
                        for (const lieu of data) {
                            const option = document.createElement('option');
                            option.value = lieu.id;
                            option.textContent = lieu.nom;
                            selectLieu.appendChild(option);
                        }
                    });
            }

            // Affichage des lieux correspondant à la ville sélectionnée

            document.addEventListener('DOMContentLoaded', function() {

                // A la selection d'une ville
                selectVille.addEventListener('input', function() {
                    const villeId = selectVille.value;
                    console.log(villeId)

                    // Vider le select lieu
                    selectLieu.innerHTML = '<option value="">Choisissez un lieu...</option>';

                    if (villeId) { // Si une ville est sélectionnée
                        refreshLieux(villeId)
                    }
                });

                // Affichage de la rue et du cp quand le lieu est renseigné
                // const lieuDetails = document.querySelector('.lieu_details');
                // selectLieu.addEventListener('input', function (){
                //     lieuDetails.style.display = 'flex';
                // })

                // Ouverture de la modal au click du +

                // Présélection de la ville
                const selectLieuVille = document.getElementById('lieu_ville');
                refreshLieux();
                selectLieuVille.value = selectVille.value;

                buttonAddLieu.addEventListener('click',function (){
                    lieuModal.style.display = 'flex';
                })
                // Sortie de la modale quand click en dehors
                lieuModal.addEventListener('click', function(event) {
                    if (event.target === lieuModal) {
                        lieuModal.style.display = 'none';
                    }
                });
            });

            // Traitement du formulaire d'un nouveau lieu dans la modale


            lieuForm.addEventListener('submit', function (event){

                event.preventDefault();
                // Récupération des données du formulaire
                const formData = new FormData(lieuForm);
                const data = {
                    nom: formData.get('lieu[nom]'),
                    rue: formData.get('lieu[rue]'),
                    ville: formData.get('lieu[ville]'),
                };
                // Envoie les données en JSON
                fetch('{{ path('api_create') }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type':'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(response=>response.json())
                    // Traitement après succès
                    .then(data=>{
                        // Fermeture de la modale
                        const lieu = document.querySelector('.modal-lieu');
                        lieu.style.display = 'none';

                        // Création d'une nouvelle option avec le lieu créé
                        const lieuCree = document.createElement('option');
                        lieuCree.value = data.id;
                        lieuCree.textContent = data.nom;
                        const selectLieu = document.getElementById('sortie_lieu');
                        selectLieu.appendChild(lieuCree);

                        selectLieu.value = data.id;


                    })
                lieuForm.reset();
                // Préselection nouveau lieu
                refreshLieux();

            })



        </script>
    {% endblock %}

{% endblock %}

{% block title %}

{% endblock %}

