{% extends 'base.html.twig' %}

{% block body %}
    {% set button = {
        'INSC_CLOTUREE': { 'label': 'Clôturée'},
        'CREEE': { 'label': "S'inscrire"},
        'INSC_OUVERTE': { 'label': "S'inscrire" },
        'ACTIVITE_EN_COURS': { 'label': "En cours" },
        'ANNULEE': { 'label': "Annulée" }
    }[sortie.etat.libelle] %}

    <main class="w-full ">
        <section>
            <div class="w-full relative">
                <img src="{{ asset('/img/sortie/pexels-harrisonhaines-3536274.jpg') }}" alt=""
                     class="aspect-5/3 object-cover">
                <div class="absolute top-0 left-0 p-3 bg-neutral-800/40 h-full w-full">
                    <div class="grid grid-cols-3 items-center">
                        <div class="text-[#f0f0e6]">
                            <a href="{{ path("sortie_list_2") }}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                     class="size-6">
                                    <path fill-rule="evenodd"
                                          d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="text-center pt-1">
                            <h1 class="text-[#f0f0e6]">Détails Sortie</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="relative  mt-[-20px] z-2  sortie {{ sortie.etat | lower }}">
            <div class="px-5 rounded-t-xl {{ sortie.etat == 'ACTIVITE_EN_COURS' ? 'sortie__container' : 'bg-[#f0f0e6]' }} ">


                <div class="flex gap-3 mb-2 pt-5">
                    <h1 class="font-medium text-3xl">{{ sortie.nom }}</h1>
                    <div class="flex-none ms-auto font-medium px-3 py-1.5 pb-0.5 rounded-lg h-full text-sm sortie__btn">
                        {{ sortie.etat | capitalize }}
                    </div>
                </div>
                <div class="w-full flex flex-wrap mb-5 items-center text-sm sortie-info">
                    <div class="flex gap-1 items-center opacity-80 me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z"></path>
                        </svg>
                        <span class="mt-1">{{ sortie.lieu }}, {{ sortie.lieu.ville }}</span>
                    </div>

                    <div class="flex gap-1 items-center opacity-80 me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                        </svg>
                        <span class="mt-1">{{ sortie.duree }} heure(s)</span>
                    </div>
                    <div class=" flex gap-1 items-center opacity-80 me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"></path>
                        </svg>

                        <span class="mt-1">{{ sortie.dateHeureDebut | date('F d Y • g a') }}</span>
                    </div>
                </div>
                <div class="info mb-5">
                    <h3 class="font-medium mb-2">A propos</h3>
                    <p class="text-sm opacity-70">{{ sortie.infosSortie }}</p>
                </div>
                <div class="orga mb-5">
                    <h3 class="font-medium mb-2">Organisateur</h3>
                    <div class="orga flex items-center">
                        <div class="me-2">
                            <img src="{{ asset("/img/user/pexels-emilygarland-1499327.jpg") }}" alt="placeholder"
                                 class="rounded-full w-11 h-11">
                        </div>
                        <div>
                            <p class="font-medium opacity-80 text-sm">{{ sortie.organisateur }}</p>
                            <p class="opacity-70 text-xs">Campus {{ sortie.organisateur.campus | capitalize }}</p>
                        </div>
                    </div>
                </div>
                <div class="participants">
                    <h3 class="font-medium mb-2">Participants</h3>
                    <div class="flex items-center ms-[-2px]">
                        <div class="flex *:me-[-15px] relative">
                            {% for participant in sortie.participants[:3] %}
                                <div class="rounded-full">
                                    <img src="{{ asset('/img/user/pexels-joaojesusdesign-1080213.jpg') }}"
                                         alt="placeholder"
                                         class="participant-img rounded-full border-2 w-11 h-11 border-[#f0f0e6]">
                                </div>
                            {% endfor %}
                        </div>

                        <div class="ms-5 bg-neutral-800 border-2 border-[#f0f0e6] h-11 w-11 rounded-full text-[#f0f0e6] flex items-center justify-center">
                            <span class="text-sm font-medium mt-1">+{{ (sortie.participants | length) - 3 }}</span>
                        </div>
                        <div class="ms-2">
                    <span class="text-sm/3 opacity-70">
                        •
                    </span>
                        </div>
                        <div class="ms-2">
                    <span class="text-sm/3 opacity-70 font-medium">
                        Voir plus
                    </span>
                        </div>
                    </div>


                </div>
            </div>
            <div class="sticky bottom-0 left-0 p-5 bg-linear-to-b from-transparent to-neutral-50">
                <div class="font-medium px-3 py-2.5 pb-1.5 text-center rounded-lg h-full text-sm sortie__btn uppercase {{ sortie.etat == 'INSC_CLOTUREE' ? 'opacity-50' : '' }}">
                    {{ button.label }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block title %}{{ sortie.nom }}{% endblock %}


