{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class="w-full p-3">
        <section>
            <div class="p-3 bg-[#BEE564]/50 rounded-xl text-neutral-800">
                <h1 class="text-xl font-medium text-neutral-900 mb-3">Filtrer les sorties</h1>

                {% form_theme filterForm 'views/form/form-theme.html.twig' %}

                <div class="w-full text-sm">
                    {{ form_start(filterForm) }}
                            {{ form_row(filterForm.campus) }}
                            {{ form_row(filterForm.nom) }}
                    <p class="text-sm font-medium text-neutral-900">Date comprise entre</p>
                    <div class="grid grid-cols-2 gap-2 mt-1">
                        {{ form_row(filterForm.dateIntervalDebut) }}
                        {{ form_row(filterForm.dateIntervalFin) }}
                    </div>
                    <p class="text-sm font-medium text-neutral-900 mb-1">Filtres supplémentaires</p>
                    {{ form_row(filterForm.genres) }}

                    {{ form_end(filterForm) }}
                    <button id="filer__btn" class="transition w-full text-white bg-neutral-800 pt-2 pb-1 rounded-full text-smg">
                        Rechercher
                    </button>
                </div>
            </div>
        </section>
        <section class="mt-5">
            {% for sortie in sorties %}
                    {% include 'views/sortie/sortie.html.twig' with { sortie: sortie } %}
            {% endfor %}
        </section>
    </main>
{% endblock %}


{#<script>#}
{#    document.addEventListener('DOMLoadedContent', () => {#}

{#        const $FILTER__BTN = document.getElementById('filer__btn');#}

{#        $FILTER__BTN.addEventListener('click', () => {#}

{#        })#}
{#    })#}
{#</script>#}