{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class="w-full p-3">
        <section>
            <div class="p-3 bg-[#D7EAA5] rounded-xl text-neutral-800 shadow-xl">
                <h1 class="text-xl font-medium text-neutral-900 mb-3">Filtrer les sorties</h1>

                {% form_theme filterForm 'views/form/form-theme.html.twig' %}

                <div class="w-full text-sm">
                    {{ form_start(filterForm, {attr: {id: 'filterForm'}}) }}
                    {{ form_row(filterForm.campus) }}
                    {{ form_row(filterForm.nom) }}
                    <p class="text-sm font-medium text-neutral-900">Date comprise entre</p>
                    <div class="grid grid-cols-2 gap-2 mt-1">
                        {{ form_row(filterForm.dateIntervalDebut) }}
                        {{ form_row(filterForm.dateIntervalFin) }}
                    </div>
{#                    <p class="text-sm font-medium text-neutral-900 mb-1">Filtres supplémentaires</p>#}
{#                    {{ form_row(filterForm.filters) }}#}
                    <button class="transition w-full text-white bg-neutral-800 pt-2 pb-1 rounded-full text-smg">
                        Rechercher
                    </button>
                    {{ form_end(filterForm) }}
                </div>
            </div>
        </section>
{#        <section class="mt-3">#}
{#            <div class="flex flex-wrap gap-1" id="filterContainer">#}

{#            </div>#}
{#        </section>#}
        <section class="mt-3" id="listContainer">
            {% include 'views/sortie/_list.html.twig' with { sorties: sorties } %}
        </section>
    </main>
{% endblock %}

{% block extraJs %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            const $FILTER_FORM = document.getElementById('filterForm');
            const $LIST_CONTAINER = document.getElementById('listContainer');
            const $FILTER_CONTAINER = document.getElementById('filterContainer');

            $FILTER_FORM.addEventListener('submit', (e) => {
                e.preventDefault();

                const formData = new FormData($FILTER_FORM);
                const params = new URLSearchParams(formData);

                // Affiche les filtres actifs
                // $FILTER_CONTAINER.innerHTML = '';
                // params.forEach((value, key) => {
                //     if (value) {
                //         const cleanKey = key.replace(/^filter\[(.*)]$/, '$1');
                //         const filter = `<div class="bg-slate-800/20 px-3 pt-2 pb-1.5 rounded-full text-xs text-neutral-700">${cleanKey}: ${value}</div>`;
                //         $FILTER_CONTAINER.innerHTML += filter;
                //     }
                // });

                // Requête AJAX
                const url = $FILTER_FORM.getAttribute('action') + '?' + params.toString();
                fetch(url, {
                    method: 'GET',
                    headers: { 'X-Requested-With': 'XMLHttpRequest' }
                })
                    .then(response => response.text())
                    .then(html => {
                        $LIST_CONTAINER.innerHTML = html;
                    })
                    .catch(err => console.error('Erreur Ajax:', err));
            });
        });
    </script>
{% endblock %}