{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class="w-full p-5">
        <section>
            <h1>Sorties</h1>
            {% for sortie in sorties %}
                <article class="bg-neutral-200 rounded-xl p-5 mb-2">
                    <div class="text-xs bg-neutral-500 w-fit px-3 rounded-full text-neutral-100 py-1 mb-1 lowercase">
                        {{ sortie.etat.libelle }}
                    </div>
                    <h1 class="uppercase">{{ sortie.nom }}</h1>

                    <div class="grid grid-cols-7">
                        <div class="col-span-3">
                            {{ (sortie.participants | length) }} / {{  sortie.nbInscriptionMax }}
                        </div>
                        <p class="opacity-70">{{ sortie.duree }} h.</p>
                        <div class="col-span-3 text-end">
                            <h3>{{ sortie.dateHeureDebut | date('d/m/y h:m') }}</h3>
                        </div>
                    </div>
                    <div class="flex gap-2 ">
                        <img src="https:\\placehold.co\30x30" alt="placeholder organistaur" class="rounded-full">
                        <div>
                            {{ sortie.organisateur }}
                        </div>
                    </div>
                    <div class="flex gap-2 mt-2 justify-end">
                        {% if sortie.etat.libelle == 'INSC_OUVERTE' %}
                            <button class="bg-green-200 px-2 py-1 rounded-lg text-sm">S'inscrire</button>
                        {% endif %}
                        <button class="bg-blue-200 px-2 py-1 rounded-lg text-sm">Details</button>

                    </div>

{#                    <p>{{ sortie.infosSortie }}</p>#}
                </article>

            {% endfor %}
        </section>
    </main>
{% endblock %}
